@model TecnoShop.ViewModels.ProductoViewModel

@{
    ViewData["Title"] = "DetalleProducto";
}

<section class="container seccion">
    <div class="row">
        
        <div class="col-md-6">
            <div class="row">
                <h3>Detalle del Producto</h3>
            </div>
            <div class="row">
                <img src="@Model.ImagenUrl" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Nombre</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-primary">
                    <span class="monospaced">Especificaciones:</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        @Model.Especificaciones
                    </p>

                </div>
            </div>
    
            <hr />

            
            <div class="row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <label class="col-form-label texto-detalle">@Model.Precio $us</label>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-3 col-form-label">Disponible: </label>
                <div class="col-sm-9">
                    <label class="col-form-label texto-detalle">@Model.EstaDisponible</label>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-3 col-form-label">Destacado: </label>
                <div class="col-sm-9">
                    <label class="col-form-label texto-detalle">@Model.EsDestacado</label>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-3 col-form-label">Categoría: </label>
                <div class="col-sm-9">
                    <label class="col-form-label texto-detalle">@Model.NombreCategoria</label>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-3 col-form-label">Marca: </label>
                <div class="col-sm-9">
                    <label class="col-form-label texto-detalle">@Model.NombreMarca</label>
                </div>
            </div>

           
            @*<div class="row">
                <label class="col-sm-3 col-form-label">Categoría: </label>
                <div class="col-sm-9">
                    <select asp-for="@Model.CategoriaId" class="form-select" asp-items="@Model.CategoriasItems" disabled></select>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-3 col-form-label">Marca: </label>
                <div class="col-sm-9">
                    <select asp-for="@Model.MarcaId" class="form-select" asp-items="@Model.MarcasItems" disabled></select>
                </div>
            </div>*@
           
            <hr/>
            <div>
                <a asp-action="EditarProducto" asp-route-id="@Model?.ProductoId" class="btn btn-primary">Editar</a> |
                <a asp-action="Index" class="btn btn-secondary">Volver atrás</a>
            </div>

        </div>
    </div>
    

</section>