@*@model IEnumerable<TecnoShop.Models.Producto>*@
@model ListaProductoViewModel;

@{
    ViewData["Title"] = "Index";
   
}
<section class="container seccion">
    <h1>Listado de Productos</h1>

    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <p>
        <a asp-action="CrearProducto"> Crear Producto</a>
    </p>
    @*<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#myModal" data-url="@Url.Action("CrearCategoria")"> Crear Categoria</button>
    *@
    <table class="table tabla-productos">
        <thead>
            <tr>
                <th>
                    Imagen
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Especificaciones
                </th>
                <th>
                    Marca
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Precio
                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.Productos)
            {
                <tr>
                    <td>
                        <img src="~/images/@item.ImagenUrl" alt="" style="max-width:50px;" />
                        @*<img src="@("~/images/"+item.ImagenUrl)" asp-append-version="true" alt="" style="max-width:50px;" />*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td class="ellipsis">
                        @item.Especificaciones
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@item.ProductoId"> Editar </a> |
                        <a asp-action="DetalleProducto" asp-route-id="@item.ProductoId"> Detalle </a> |
                        <a asp-action="EliminarProducto" asp-route-id="@item.ProductoId"> Eliminar </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</section>