@model IEnumerable<TecnoShop.Models.Marca>

@{
    ViewData["Title"] = "Index";
}
<section class="container seccion">
    <h1>Listado de Marcas</h1>

    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row text-end">
        <p>
            <a asp-action="CrearMarca" class="btn btn-success"> <i class="bi bi-plus-circle"></i> Crear nueva marca</a>
        </p>
    </div>
    @*<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#myModal" data-url="@Url.Action("CrearCategoria")"> Crear Categoria</button>
    *@
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        <a asp-action="EditarMarca" asp-route-id="@item.MarcaId" class="iconos"> <i class="bi bi-pencil"></i> </a> 
                        <a asp-action="DetalleMarca" asp-route-id="@item.MarcaId" class="iconos"> <i class="bi bi-eye"></i> </a> 
                        <a asp-action="EliminarMarca" asp-route-id="@item.MarcaId" class="iconos"> <i class="bi bi-trash3"></i> </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</section>