@model ListaMarcaViewModel;

<section class="container seccion">
    <h1>Listado de Marcas</h1>

    <p>
        <a asp-controller="Marca" asp-action="CrearMarca" class="btn btn-success">Crear Marca</a>
    </p>

    @*<form asp-controller="Usuarios" asp-action="Index">
    <p>
    Buscar: <input type="text" name="buscar" class="form-text" />
    <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
    </p>
    </form>*@


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre de Marca</th>
                <th scope="col">Descripcion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Marcas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MarcaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.MarcaId">Edit</a> |
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.MarcaId">Details</a> |
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.MarcaId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>