@model IEnumerable<TecnoShop.Models.Categoria>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container seccion">
<h1>Listado de Categorías</h1>

    @if(TempData["mensaje"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="row">
        <p>
            <a asp-action="CrearCategoria" class="btn btn-success"> <i class="bi bi-plus-circle"></i> Crear nueva categoría</a>
        </p>
    </div>
@*<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#myModal" data-url="@Url.Action("CrearCategoria")"> Crear Categoria</button>
*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                        <a asp-action="EditarCategoria" asp-route-id="@item.CategoriaId" class="iconos"> <i class="bi bi-pencil"></i> </a>
                        <a asp-action="DetalleCategoria" asp-route-id="@item.CategoriaId" class="iconos"><i class="bi bi-eye"></i> </a>
                        <a asp-action="EliminarCategoria" asp-route-id="@item.CategoriaId" class="iconos"> <i class="bi bi-trash3"></i> </a>
                </td>
            </tr>
        }
    </tbody>

</table>
</section>

@*<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h2 class="modal-title text-primary text-center"> Agregar Categoria</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>*@
